body{
    background-image: url(https://i.pinimg.com/originals/31/28/6c/31286c98eaca094327563de3f86fb3ab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color:white;
    text-decoration: none;
}